In [ ]:
# Using the variables - Knowing the rent

In [ ]:
# MONTHLY EXPENSES- variables are stored values  
rent= 4000
food= 2300
petrol=2300
out_s=1200
Total_expenses= rent+ food + petrol + out_s

In [ ]:
Total_expenses

In [ ]:
# reveserd words- keywords can't use them as constant or variable - keywords contain lowercase letters only.
and break assert def pass or not in True False import else if for return with while is del 
# blocks of code are dentoed by identation.

In [ ]:
if True: # here the block is called as indentation 
    print("TRUE")
else:
    print("false")

In [ ]:

12+12
10-10
7*2
10/2
11%2 # reminder will get the answer 
3**3 # konowing the powers of two numbers 
4//2

In [ ]:
# total_ distance from chennai to puttur and chennai to chitoor
put_chen= 140
che_chi= 170
total_dis= put_chen + che_chi
total_dis

In [ ]:
speed=70
dis=240
time= dis/ speed
time

In [ ]:
round(time,2) # just roundoff the things

In [ ]:
round(time,4)

In [ ]:
# strings are used to text data in ptyhon 
# pythion index starts with 0
name= "kudimi jyothiram"
name[0]

In [ ]:
name[0:]

In [ ]:
name[0:6]

In [ ]:
name[7:]

In [ ]:
# str + number cannot be added, but it can
 # changing the num in to string 
kotak= " totak employees in  kotak ge======"
num=25
num_s=str(num)

In [ ]:
total= kotak+num_s
total

In [ ]:
#list= items need to mention between []
items=["rent", "food", "power", "petrol",5000]
items

In [ ]:
# indexing same as above 
# add an item to an existing list
items[0]="whole_rent"

In [ ]:
items

In [ ]:
items[-5:5]

In [ ]:
#append- adds an element at the end of the list 
items.append("out_s")

In [ ]:
items

In [ ]:
# insert() adds an elemnet at the specified position 
items

In [ ]:
items.insert(1,"online")

In [ ]:
items

In [ ]:
# pop()-remove the elemnt at the specified position
items.pop(1)

In [ ]:
items

In [ ]:
items.reverse() # reverse the order of the list

In [ ]:
items

In [ ]:
len(items) # lists can be added

In [ ]:
# in operator- checking the condition
'power' in items

In [ ]:
items

In [ ]:
"sode" in items

In [ ]:
num=input(" Enter the Number :")
lidt1=int(num)

In [ ]:
list1=['a', 'b','c', 10]
for i in list1:
    print( " The Number is even : " , list1)
else:
    print(" The Number is ODD ")

In [ ]:
 # for loop, def function , if else - important concepts  for ML 
indian= ['dosa', 'idly', 'samosa']
chinese=['fried','roll','soop']
italian=['pizza' , 'burger']

In [ ]:
dish = input (" enter the dish name ")

In [ ]:
if dish in indian:
    print("indian")
elif dish in chinese:
    print("chi")
elif dish in italian:
    print('burger')
else:
    print(" I don't know the cuisine name ")

In [ ]:
# for loop - which indicates that - repeats the specific action , until it gets satisfied

In [ ]:
 # knowing the laptop price- using the for loop
for i in range(5):
    laptop_pricers1=int(input(" Enter the price of the laptop :-"))

In [ ]:
for i in [1,20,30,40,50]:
    print(i)

In [ ]:
# find the even or odd 
Numbers=[11,22,33,44,55,66,77,88]

In [ ]:
# find the even or odd 
Numbers=[11,22,33,44,55,66,77,88]

for i in [11,22,33,44,55,66]:
    if i%2==0:
        print(" The Number  is a Even :")
    else:
        print(" The Nuber is a Odd")

In [ ]:
# USING FOR LOOP FOR list nUMBERS
A= [10,20,30,40,50,50]
for i in A:
    print(i)

In [ ]:
# using for loop for list. of strings # concatenate  can be done to strings also-
A=["ram", "bheem", "dhoom", "boom"]
for i in A:
    i=i+"kudimi"
    print(i)

In [ ]:
# using the for loop for tuple of strings
coun=("ram", "bheem", "mom","whom")
for names in coun:
    names=names+"bhanu"
    print(names)

In [ ]:
# using for loop for set of strings 
Tami={'a', "b", "c"}
for  alpa in Tami: # random values will get iutput 
    print(alpa)

In [ ]:
# for loop on a dictionary
A= {"ram":1, "bhanu":2, "kudimi":3}
for i in A:
    print(i) # key names only will come

In [ ]:
A= [" i LOVE "]
B=[" DATA SCIENCE"]
for i in A:
    for j in B:
        print(i,j)

In [ ]:
# list is a collection of different data types
SA=[1,3,1.2, "RAM",(1,"RAM"),{" M":1, "BHEEM":2, "BOOM":3},{"RANDEPOM",1 }]
SA

In [ ]:
# A LIST IS MUTABLE- Means list items can be changed after creating the list 
A=[1,2,3,4,5]
A.append(8)

In [ ]:
A

In [ ]:
# insert()- to insert new value at a given index i9n the llist
A=[1,2,3,4,5]
A.insert(3,"kudimi")

In [ ]:
A

In [ ]:
# INDEX- TO SHOW THE INDEX OF THE VALUE
A=[1,2,2]
A.index(2)

In [ ]:
A.remove(2) # To delecte a value from the list

In [ ]:
A

In [ ]:
set1={10,20,9,8, 1.2, "kudimi", "ko","ka"}

In [ ]:
set1

In [ ]:
a= {'hi','hi'}

In [ ]:
a # set- duplicate values not allowed

In [ ]:
a.add("data science")

In [ ]:
a

In [ ]:
# remove value from the set 
a.remove("hi")

In [ ]:
a

In [ ]:
a.pop() # a random  value get eliminate from set

In [ ]:
a # here is thereis no values in the set

In [2]:

# dictionary- is a combination of keys and values 
D= {"RAM":1, "BHEEM":2, "BOOM":4}

In [3]:
D

{'RAM': 1, 'BHEEM': 2, 'BOOM': 4}

In [4]:
type(D)

dict

In [5]:
D1={1:"MAMA", 2:"RAM", 3:"BHEEM"}

In [6]:
D1

{1: 'MAMA', 2: 'RAM', 3: 'BHEEM'}

In [10]:

# DICTIONARY WITH INTEGER KEYS
A={1:'A',2:1.2,3:1000}
A

{1: 'A', 2: 1.2, 3: 1000}

In [11]:
type(A)

dict

In [14]:
# dictionary with float keys
A={1.2:"a", 2.3:2.5, 3.4:100}

In [15]:
A

{1.2: 'a', 2.3: 2.5, 3.4: 100}

In [18]:
# Dictionary with string keys
p={"abcx":1, "bhc":1.2334,"abuq":"kudimi"}
p

{'abcx': 1, 'bhc': 1.2334, 'abuq': 'kudimi'}

In [19]:
type(p)

dict

In [21]:
# dictionary does not all the duplicate keys- it's selects the lase repeated from table  
A= {'a':1, 'b':2, 'a':3,'d':4, 'a':10}
A

{'a': 10, 'b': 2, 'd': 4}

In [23]:
# dictionary's can be added or deleted
A={1:"abc", 2:"kudimi",1.2:"kotak"}

In [27]:
A.get(1) # To get the values against a key

'abc'

In [28]:
A.get(1.2)

'kotak'

In [29]:
A.items() #to show all items  of the dictionary

dict_items([(1, 'abc'), (2, 'kudimi'), (1.2, 'kotak')])

In [30]:
A.keys() #to show the all keys in the dictionary

dict_keys([1, 2, 1.2])

In [31]:
A.values() # to show all the values  in the dictionary

dict_values(['abc', 'kudimi', 'kotak'])

In [33]:
A.pop(1) # key along with value will get delete

'abc'

In [34]:
A

{2: 'kudimi', 1.2: 'kotak'}

In [35]:
# def function- used to create our own functions.
def my_function(): # defining the function with zero arguments 
    print('This is my first function')

In [36]:
my_function()

This is my first function

In [37]:
# def function with 1 argument
def new(a):
    print(a)

In [38]:
new('Null values ') # calling the function with 1 string argument

Null values

In [39]:
new(1200) # 1 int argument

1200

In [40]:
new(1.20) #1 float argument

1.2

In [46]:
def div(a,b):# DEF FUNCTION WITH   
    d=a/b # BODY OF THE FUNCTION
    return d # returning resulting

In [48]:
div(10,2) # calling fun

5.0

In [51]:
# Multiply of three numbers
def mult(a,b,c): 3 DEF function 3 arguments 
    d=a*b*c
    return d

In [52]:
mult(2,3,4)

24

In [53]:
# add- 4 arguments 
def add(a,b,c,d): DEF function with 4 arguments 
    ad=a + b + c+ d # body of the function 
    return ad # retutning tthe result of the function

In [54]:
add(20,30,40,50) # calling the function with 4 argumnets in it

140

In [55]:
 #  double the value thaty we pass
def double(p):
    return p*2 # return we can add here also # for square use like p*p

In [56]:
double(2345)

4690

In [61]:
# return greater value from two given two values 
def great(a,b):
    if a>b:
        return a 
    else:
        return b

In [62]:
great(5,2)

5

In [65]:
smal(5,4)

5